body {
	font-family: 'caflisch script', cursive;
	font-size: 18px;
}
#hintergrund_main {
	background-color: #FFFFFF;
}
#picture{

}
#header {
	color: #E0F810;
	font-size: 28px;
}
#log_bname {
	font-size: 16px;
	/**background-color: #66CCFF;
	color: #FFFFFF;
	border-color: #FFFFFF;
	**/
}


#btn_reg{
	
}

#test { 
	background-color: #66CCFF;
}
h2 {
    font-size: 60px;
	color: #E0F810;
}